@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}
*{margin: 0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#wrap{
    width:1600px;
    height: 1000px;
    margin:20px auto;
    display: flex;
    flex-wrap: wrap;
    padding:30px;

}
#grassBox{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50px;
    background-color: #68B984;
}
#grassBox h2{
    position:absolute;
    width: 500px;
    height: 50px;
    top: 0px;
    left: 0;
    font-family: 'bitbit';
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    background-color: #446A46;
    border-radius:50px 50px 0px 0px;
    color: #fff;
}
#grassBox img {
    width: 90%;
    margin:25px auto;
    display: block;
}
.title-box{
    position: absolute;
    left: 50%;
    bottom:-25px;
    height: 50px;
    text-align: center;
    border-radius: 20px;
    font-family: 'bitbit';
    font-size:50px;
    color:#fff;

}
.grass{
    width:200px;
    margin-left: -100px;
    background-color: #68B984;
    text-shadow: -2px 0 #446A46, 0 2px #446A46, 2px 0 #446A46, 0 -2px #446A46;

}
.el-button--primary.pick-grass{
    position: absolute;
    width:200px;
    height:70px!important;
    top:320px;
    left:50%;
    font-family: 'bitbit';
    font-size: 30px!important;
    margin-left:-100px;
    background-color: #21610b!important;
    border-color: #21610b!important;

}
#potBoxClick{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width:965px;
    height:500px;
    border-radius: 50px;
    background-color: #D0C9C0;
    margin:0 30px;
    padding-top:30px;
}
.pot-box{
    width:300px;
    height:300px;
    text-align: center;
}
.pot-box img{
    width:100%;
    height:100%;
}
.round-pick{
    margin-top:10px;
}
.pot-box>img{
    scale: 1;
    transition: 0.5s;
}

.pot-box>img:hover{
    scale: 1.05;
    transition: 0.5s;
}


/*타이틀*/
.pot-box p{
    width:300px;
    padding-top:20px;
    font-family: 'bitbit';
    font-size: 30px;
    text-align: center;
}
.pot{
    width:250px;
    margin-left: -125px;
    background-color: #D0C9C0;
    text-shadow: -2px 0 #433520, 0 2px #433520, 2px 0 #433520, 0 -2px #433520;
}
/*포션 컬렉션 리스트*/
#collectionBox{
    position: relative;
    width:1500px;
    height:400px;
    border-radius: 50px;
    background-color: #aaa;
    margin-top: 50px;
}
.collection{
    width:250px;
    background-color: #aaa;
    margin-left: -125px;
    text-shadow: -2px 0 #333, 0 2px #333, 2px 0 #333, 0 -2px #333;
}
#potion-list {
    position: absolute;
    padding: 20px 0 ;
    width:1400px;
    left: 50%;
    margin-left: -700px;
    display: flex;
    flex-wrap: wrap;
}
.potion {
    position:relative;
    margin:10px;
    width:120px;
    height:120px;
    border-radius: 20px;
    background-color: rgba(200,200,200,0.8);
    padding:10px;
    margin-bottom: 50px;
}
.potion img{
    width:85%;
    display: block;
    margin:10px auto;
    transition: 0.5s;
}
.not-have img{
    opacity: 20%;
    transition: 0.5s;
}
.potion-info{
    position: absolute;
    bottom:-40px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height:30px;
    font-size: 18px;
    font-family: 'bitbit';
    text-align: center;

}
/*아이템 뱃지 관련*/
.item{
    position: absolute;
    top:-10px;
    right:-10px;
}
/*get-popup*/
.el-dialog{
    text-align: center;
    line-height: 1.6;
    width:500px;
    font-family: 'bitbit';
    font-size: 30px;
}
.el-dialog__title{
    font-size: 30px;
}
.el-dialog__footer{
    text-align: center!important;
}
.el-button--primary{
    text-align: center;
}
.el-badge__content{
    width:40px;
    height:40px;
    line-height: 40px;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'bitbit';
    text-align: center;
}
.get-title{
    font-size: 30px;
}

/*리셋버튼*/
button.clear-all{
    position: absolute;
    bottom: 100px;
    right:100px
}
.el-button--danger{
    width:100px;
    background-color: #F55050!important;
    border-color:#F55050!important;

}
