<template>
    <div>
        <div id="wrap" >
            <div id="grassBox" v-if = "grassCount != null" >
                <h2>약초 : <span>{{ grassCount | currency }}</span>개</h2>
                <img src="../static/image/forest.png" alt="숲 이미지">
                <el-button type="primary" round class="pick-grass" @click.native="getGrass()">캐기</el-button>
                <div class ="title-box grass">
                    <p>약초캐기</p>
                </div>
            </div>
            <div id="potBoxClick">
                <div class="pot-box normal">
                    <img src="../static/image/nomal-pot.png" @click="pickNormalPot()" alt="평범한 마력솓">
                    <p>일반 마력솥 (1성~5성)<br>
                        약초  : 500개
                    </p>
                    <el-button type="primary" round class="round-pick" @click.native="pickNormalPot()">뽑기</el-button>
                </div>
                <div class="pot-box witch">
                    <img src="../static/image/witch-pot.png" @click="pickWitchPot()" alt="마녀의 마력솓">
                    <p>마녀의 마력솥 (3성~5성)<br>
                        약초  : 3500개
                    </p>
                    <el-button type="primary" round class="round-pick" @click.native="pickWitchPot()">뽑기</el-button>
                </div>
                <div class ="title-box pot">
                    <p>포션만들기</p>
                </div>
            </div>
            <div id = "collectionBox">
                <ul id = "potion-list" v-if="potionCountList.length >0" >
                    <li class="potion"  v-for="(item, index) in potionCountList" >
                        <div v-if="item.potionCount>0">
                            <el-badge :value="item.potionRateName" class="item" :type="getPotionLevelType(item.potionRate)"></el-badge>
                            <img :src="'/image/' + item.imageName" :alt="item.itemName">
                            <p class="potion-info">
                                {{ item.potionName }}<br>
                                <span>{{ item.potionCount }}</span>개
                            </p>
                        </div>
                        <div class=" not-have" v-else>
                            <img :src="'/image/' + item.imageName" :alt="item.itemName">
                            <p class="potion-info">
                                ???<br>
                                <span>0</span>개
                            </p>
                        </div>
                    </li>
                </ul>
                <div class ="title-box collection">
                    <p>컬렉션박스</p>
                </div>

            </div>
        </div>

        <el-dialog title="아이템 획득" :visible.sync="dialogVisible" >
            <div v-if="pickedPotion != null">
                <h1 class="get-title">축하합니다!</h1>
                <img :src="'/image/'+ pickedPotion.imageName" :alt="pickedPotion.itemName">
                <p v-if="pickedPotion.isNew">NEW!</p>
                <p>아이템을 획득하셨습니다.</p>
                <p>{{ pickedPotion.potionName }}</p>
                <p>{{ pickedPotion.potionRateName }}</p>

                <span slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="dialogVisible = false" class="contents-center">확인</el-button>
                </span>
            </div>
        </el-dialog>
        <el-button class="clear-all" type="danger" round @click.native="clearAllData()">리셋</el-button>
    </div>
</template>
<script>


export default {
    data() {
        return {
            grassCount: null,
            potionCountList : [],
            dialogVisible: false,
            pickedPotion: null
        }
    },
    methods: {
        getPotionLevelType(potionRateName) {
            let result = ''
            switch (potionRateName) {
                case 'NORMAL' :
                    result = 'info'
                    break
                case 'RARE' :
                    result = 'success'
                    break
                case 'UNIQUE' :
                    result = 'primary'
                    break
                case 'EPIC' :
                    result = 'warning'
                    break
                case 'LEGEND' :
                    result = 'danger'
                    break
                default:
                    result = ''

            }
            return result
        },

        getFirstData() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$gameApiConstants.DO_FIRST_DATA)
                .then((res) => {
                    this.grassCount = res.data.data.grassResponse.grassCount
                    this.potionCountList = res.data.data.usePotionItems
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        getGrass() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$gameApiConstants.DO_PICK_THE_GRASS)
                .then((res) => {
                    this.grassCount = res.data.data.grassCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        pickNormalPot() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$gameApiConstants.DO_PICK_NORMAL_POT)
                .then((res) => {
                    this.grassCount = res.data.data.grassResponse.grassCount
                    this.potionCountList = res.data.data.usePotionItems
                    this.pickedPotion = res.data.data.pickUpPotionCurrentItem
                    this.dialogVisible = true
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        pickWitchPot() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$gameApiConstants.DO_PICK_WITCH_POT)
                .then((res) => {
                    this.grassCount = res.data.data.grassResponse.grassCount
                    this.potionCountList = res.data.data.usePotionItems
                    this.pickedPotion = res.data.data.pickUpPotionCurrentItem
                    this.dialogVisible = true
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        clearAllData() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$gameApiConstants.DO_CLEAR_ALL)
                .then((res) => {
                    this.getFirstData()
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    created() {
        this.getFirstData()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },
}
</script>
